# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# files
*.log

# Visual Studio files and folder
*.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Directories
Shade/vendors/spdlog
Shade/vendors/glfw
Shade/vendors/glm
Shade/vendors/ImGui
Shade/vendors/ImGuizmo
Editor/resources/assets