[submodule "Shade/vendors/spdlog"]
	path = Shade/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shade/vendors/glfw"]
	path = Shade/vendors/glfw
	url = https://github.com/glfw/glfw
[submodule "Shade/vendors/glm"]
	path = Shade/vendors/glm
	url = https://github.com/g-truc/glm
[submodule "Shade/vendors/ImGui"]
	path = Shade/vendors/ImGui
	url = https://github.com/MicroSDA/imgui
[submodule "Shade/vendors/ImGuizmo"]
	path = Shade/vendors/ImGuizmo
	url = https://github.com/MicroSDA/ImGuizmo
[submodule "Shade/vendors/Yaml"]
	path = Shade/vendors/Yaml
	url = https://github.com/jbeder/yaml-cpp
